* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url('https://i.pinimg.com/originals/e9/db/09/e9db09b6ff90a4b6cf6f5b01a118524f.gif');
  background-size: cover;
  font-family: 'Nova Flat', cursive;
}

.nav-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: underline;
  height: 65px;
  color: white;
  font-size: 20px;
  
}

.title-cnt {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.title {
  font-size: 60px;
  text-decoration: underline;
  color: white;
}

.bio-cnt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
  color: white;
  font-size: 25px;
}

.bio-cnt2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 4px ridge white;
  padding: 20px;
  margin-bottom: 30px;
  color: white;
  font-size: 25px;
}
.img-cnt {
  display: flex;
  justify-content: center;
}


img {
  border-radius: 50%;
}
h1 {
  color: #9BA4B5;
}

.icon-cnt {
  display: flex;
  
  

}

.icon-img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.skills-title-cnt {
  display: flex;
  justify-content: center;
  
}

.skills-title {
  font-size: 40px;

  color: white;
  margin-bottom: 20px;
}

.skill-desc {
  color: white;
}

.full-skill-cnt {
  display: flex;
  justify-content: space-around;
}
.big-skills-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-cnt {
  display: flex;
  overflow: scroll;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 400px;
  border: 4px ridge white;
  border-radius: 25px;
  
  
 
  
}



.skill {
  margin: 10px;
  background: #262A56;
  text-align: center;
  font-size: 15px;
  width: 150px;
  padding: 20px;
  border-radius: 25px;
  color: white;
}




.pjct-title-cnt {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pjct-title {
  font-size: 40px;
  color: white;
  text-decoration: underline;
 
}
.big-pjct-cnt {
  display: flex;
  justify-content: center;
}

 .pjct-cnt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px ridge white;
  border-radius: 25px;
  padding: 40px;
  height: 300px;
  overflow: scroll;
  
  
  
  
  
  
  
  
} 
.pjct-icon {
  height: 75px;
  width: 75px;
}

.project {
  margin-bottom: 5px;
  background-color: #262A56;
  text-align: center;
  
  height: 250px;
  width: 400px;
  border: 2px ridge white;
  border-radius: 25px;
  padding: 10px;
  
  
}

.pjct-name {
  font-size: 20px;
  color:white;
  margin-bottom: 10px;
}

.pjct-desc {
  color: white;
  font-size: 15px;
  
  font-weight: bold;
  
}


.pjct-btn-cnt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px ridge white;
  margin-bottom: 40px;
  
}

.btns {
  
  background-color: #262A56;
  color: white;
  border-radius: 35px;
  width: 120px;
  height: 40px;
  padding: 10px;
  font-family: 'Nova Flat', cursive;
  cursor: pointer;
  margin-bottom: 35px;

 
}
.contact-title-cnt {
  display: flex;
  justify-content: center;
}

.contact-title {
  color: white;
}

.big-contact-cnt {
  display: flex;
  justify-content: center;
}

.contact-cnt {
  display: flex;
  justify-content: space-around;
  
  align-items: center;
  
  overflow: scroll;
  
  
  border-radius: 25px;

}

.contact {
  color: white;
  background-color: #262A56;
  padding: 20px;
  border-radius: 35px;
  width: 200px;
  text-align: center;
  margin: 10px;
  font-size: 17px;

}

.link {
  text-decoration: none;
}